<div class="container-fluid">
    <div class="row-fluid naslov">
        <h1 class="pull-right">Korisnici</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input id="filter" class="pull-left" type="text" placeholder="Pretraga..." />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table footable editTable" data-filter="#filter">
                <thead>
                    <tr>
                        <th data-sort-ignore="true">Id</th>
                        <th data-sort-ignore="true">Slika</th>
                        <th>Ime i prezime</th>
                        <th>Datum učlanjenja</th>
                        <th>Broj narudžbina</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: korisnici">
                    <tr>
                        <td data-bind="text: Id"></td>
                        <td><img data-bind="attr: { src: SlikaSrc }" /></td>
                        <td data-bind="text: ImePrezime"></td>
                        <td data-bind="text: DatumIso"></td>
                        <td data-bind="text: Narudzbine().length"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
