<div class="nav-inner">
    <ul>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li>
            <a href="#" data-trigger="collapse">Proizvodi <i class="icon-angle-down"></i></a>
            <ul class="collapsible hide">
                <li><a href="#/editProizvodi">Uredi proizvode</a></li>
                <li><a href="#/addProizvodi">Ubaci proizvod</a></li>
                <li><a href="#/editPodaci">Uredi podatke</a></li>
            </ul>
        </li>
        <li><a href="#/narudzbine">Narudžbine</a></li>
        <li><a href="#/korisnici">Korisnici</a></li>
    </ul>
    <div class="spinner" data-bind="css: { active: router.isNavigating }"></div>
</div>
