<div class="messageBox">
    <div class="modal-header">
        <h1>Plaćanje</h1>
    </div>
    <div class="modal-body">
        <p style="text-align: center;">
            Klikom na "Paypal" bićete preusmereni na Paypal sajt gde treba da ostavite vaše podatke.
            <br />
            Nakon toga bićete vraćeni na naš sajt radi kompletiranja kupovine.
            <hr />
            Da li želite da nastavite?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="event: { tap: accept }" style="padding-top:0;padding-bottom:0;">
            <img src="../../Content/images/Paypal.png" alt="paypal" style="height:45px;"/>
        </button>
        <button class="btn btn-danger" data-bind="event: { tap: cancel }">Odustani</button>
    </div>
</div>
